In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tensorflow.keras import models, layers
from tensorflow.keras.datasets import imdb
from tensorflow.keras.preprocessing import sequence
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import RMSprop
from tensorflow.keras import backend as K
from sklearn.model_selection import train_test_split
from IPython.core.display import display, HTML

In [ ]:
# allow output to span multiple output lines in the console
pd.set_option('display.max_columns', 600)
pd.options.display.width = 100
pd.options.display.max_colwidth = 50
display(HTML("<style>.container { width:100% !important; }</style>"))

In [ ]:
def plot_metric(history, metric='loss'):
    """ Plot training and test values for a metric. """

    val_metric = 'val_'+metric
    plt.plot(history.history[metric])
    plt.plot(history.history[val_metric])
    plt.title('model '+metric)
    plt.ylabel(metric)
    plt.xlabel('epoch')
    plt.legend(['train', 'test'])
    plt.show();

### Read the data

Download the 2 heartbeat data files from
https://www.kaggle.com/shayanfazeli/heartbeat

You can also get the files from my Google Drive:

[ptbdb_abnormal.csv](https://drive.google.com/file/d/1Kuvc_WmjLhz1xaSvL-bu94i8dEU4JMws/view?usp=sharing)

[ptbdb_normal.csv](https://drive.google.com/file/d/1L0qVW-xTGcaEgS4NdY6ZhzEEWTqMTQCH/view?usp=sharing)

In [ ]:
data_dir = "C:/Users/Glenn/Google Drive/CSUMB/Fall21/AML/lectures-labs/9neural-nets/3cnn/ekg-data/"
df_normal = pd.read_csv(data_dir+"ptbdb_normal.csv",   header=None)
df_abnormal = pd.read_csv(data_dir+"ptbdb_abnormal.csv", header=None)

In [ ]:
df_normal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4046 entries, 0 to 4045
Columns: 188 entries, 0 to 187
dtypes: float64(188)
memory usage: 5.8 MB

In [ ]:
df_normal.head()

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
0,1.000000,0.900324,0.358590,0.051459,0.046596,0.126823,0.133306,0.119125,0.110616,0.113047,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.000000,0.794681,0.375387,0.116883,0.000000,0.171923,0.283859,0.293754,0.325912,0.345083,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.909029,0.791482,0.423169,0.186712,0.000000,0.007836,0.063032,0.077002,0.074957,0.077342,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.000000,0.478893,0.056760,0.064176,0.081289,0.072732,0.055619,0.048774,0.054478,0.041643,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.000000,0.867238,0.201360,0.099349,0.141336,0.120934,0.108516,0.096393,0.093436,0.100828,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Read the data

In [ ]:
X_normal = df_normal.values
X_abnormal = df_abnormal.values

In [ ]:
print(X_normal.shape)
print(X_abnormal.shape)

(4046, 188)
(10506, 188)

### Problem 1.  Plot a randomly-chosen normal segment, and abnormal segment

In [ ]:
# YOUR CODE HERE

### Data preprocessing

Please read the code carefully

In [ ]:
X = np.concatenate([X_normal, X_abnormal])

In [ ]:
X.shape

(14552, 188)

In [ ]:
X = X.reshape(X.shape[0], X.shape[1], 1)

In [ ]:
X.shape

(14552, 188, 1)

In [ ]:
y = np.concatenate([np.full(X_normal.shape[0], 0), np.full(X_abnormal.shape[0], 1)])

In [ ]:
y.shape

(14552,)

### Train/test split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(10050, 188, 1)

### Problem 1.  Plot a randomly-chosen normal segment, and abnormal segment

In [ ]:
# YOUR CODE HERE

### Problem 2. Create a 1D convolutional model.

If you find that you get very high accuracy, try making the validation split in your fit() call much larger.

In [ ]:
K.clear_session()

In [ ]:
# YOUR CODE HERE: create model

In [ ]:
model.summary()

In [ ]:
# YOUR CODE HERE: compile

In [ ]:
# YOUR CODE HERE: train the model (use validation_split)

In [ ]:
# YOUR CODE HERE: compute accuracy on the test set

### Problem 3.  If you have time, create another model.

Try playing with the following things:
- use of global max pooling (vs. avg)
- use of an additional dense layer
- number of output channels
- size of the convolutional filters
- pooling size